allow priv_app app_data_file:file unlink;
allow priv_app device:dir { open read };
allow priv_app proc_interrupts:file { open read };
allow priv_app proc_stat:file { open read getattr };
