allow rild system_radio_prop:property_service set;
allow rild vendor_file:file ioctl;
allow rild tombstone_data_file:file { open read write };
allow rild tombstone_data_file:dir search;