type_transition tee system_data_file:{ dir file } goodix_data_file;
allow tee goodix_data_file:dir rw_dir_perms;
allow tee goodix_data_file:file { open read write create setattr unlink };